/* :root {
    --white-color: #FFFFFF;
    --bg-color: #black;
    --black-color-text: #2A2F37;
    --borer-color: #2A2F371A;
    --user-foto: #2A2F3714;
    --gray-text: #948f8f;
    --btn-blue: #1E3DAF;


    } */